<apps>
    <app>
        <id>1</id>
        <name>apple</name>
        <version>6.0</version>
    </app>
    <app>
        <id>2</id>
        <name>google</name>
        <version>8.0</version>
    </app>
    <app>
        <id>3</id>
        <name>android</name>
        <version>9.0</version>
    </app>
</apps>